[application]
name = "tanker"
version = "0.0.1"
logLevel = "debug"

[server]
port = "3000"
enableStaticFileServer = false
enableGzipCompression = true
enableDelayMiddleware = false

[database]
name = "tanker"
user = "tanker"
password = "tanker"
host = "postgres"
port = 5432
maxPoolSize = 10